@media screen and (min-width: 720px) and (max-width: 1039px) {
    .weather-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .six-days-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 719px) {
    html {
        font-size: 1rem !important;
    }
    .weather-card-grid {
        grid-template-columns: 1fr;
    }
    .card-grid {
        grid-template-columns: 1fr;
    }
    .six-days-grid {
        grid-template-columns: 1fr;
    }
    button#submit {
        display: none;
    }
    .hourly-item {
        padding: 8px 0;
    }
}
